<h2>gmap</h2>

<input id="address" type="textbox" value="1 Chome-1-2 Oshiage, Sumida City, Tokyo 131-0045, Japan">
<input type="button" value="Encode" onclick="codeAddress()">
<div id="display">何かが表示される、、、、！</div>

<div id='map' style="height: 600px; width: 600px;"></div>

<style>
  #map {
    height: 600px;
    width: 600px;
  }
</style>

<script>
  let map;
  let geocoder;
  const display = document.getElementById('display');

  function initMap() {
    geocoder = new google.maps.Geocoder();

    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.710063, lng: 139.8107 }, // 具体的な座標を設定
      zoom: 12,
    });
  }

  function codeAddress() {
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode({ 'address': inputAddress }, function (results, status) {
      if (status === 'OK') {
        map.setCenter(results[0].geometry.location);
        const marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
        display.textContent = "検索結果：" + results[0].geometry.location;
      } else {
        display.textContent = '該当する結果がありませんでした：' + status;
      }
    });
  }
</script>

<!-- APIキーを設定 -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDum0rD6nZsWIual5upf38ciC2EcPIxPgg&callback=initMap" async defer></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvowWWuFvIdiXe-bkQo5K4J4ykzAgNCPY&callback=initMap" async defer></script>
