<h3>マイページ</h3>
<div>
  <%= image_tag @user.get_profile_image(150, 150), class: "rounded-circle" %>
  <p>ユーザーネーム: <%= @user.name %></p>
  
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
  <%= link_to '退会', user_path(@user), method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-danger' %>
</div>