<h1><%= @title %></h1>
<ul>
  <% if @followers && @followers.any? %>
    <% @followers.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  <% else %>
    <li>フォロワーはいません。</li>
  <% end %>
</ul>
