<div class="icon-selection">
    <i class="fa-solid fa-person-walking" data-icon="fa-person-walking"></i>
    <i class="fa-solid fa-car" data-icon="fa-car"></i>
    <i class="fa-solid fa-bicycle" data-icon="fa-bicycle"></i>
    <i class="fa-solid fa-motorcycle" data-icon="fa-motorcycle"></i>
    <i class="fa-solid fa-train-subway" data-icon="fa-train-subway"></i>
    <i class="fa-solid fa-bus" data-icon="fa-bus"></i>
    <i class="fa-solid fa-plane" data-icon="fa-plane"></i>
    <i class="fa-solid fa-ship" data-icon="fa-ship"></i>
    <i class="fa-solid fa-utensils" data-icon="fa-utensils"></i>
    <i class="fa-solid fa-cart-shopping" data-icon="fa-cart-shopping"></i>
    <i class="fa-solid fa-book-open" data-icon="fa-book-open"></i>
    <i class="fa-solid fa-hotel" data-icon="fa-hotel"></i>
    <i class="fa-solid fa-bed" data-icon="fa-bed"></i>
    <i class="fa-solid fa-dumbbell" data-icon="fa-dumbbell"></i>
    <i class="fa-solid fa-umbrella-beach" data-icon="fa-umbrella-beach"></i>
    <i class="fa-solid fa-mountain" data-icon="fa-mountain"></i>
    <i class="fa-solid fa-gift" data-icon="fa-gift"></i>
    <i class="fa-solid fa-music" data-icon="fa-music"></i>
    <i class="fa-solid fa-camera-retro" data-icon="camera-retro"></i>
    <i class="fa-solid fa-xmark" data-icon="none"></i>
    
</div>