<p class="card-title">
  <%= link_to(book_schedule_path(schedule.id), class:"text-dark") do %>
   <strong><i class="fa-solid fa-flag"></i><span> <%= schedule.title %></span></strong>
  <% end %>
</p>
<p class="card-title">
  <span><i class="fa-solid fa-location-dot"></i> <%=schedule.address %></span>
</p>
