<div class="container">
  <nav class="navbar navbar-expand navbar-light bg-light rounded">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active mx-4">
          <%= link_to book_path(@book), class: 'nav-link' do %>
            <i class="fa-solid fa-book-open-reader"></i>  しおりの詳細<span class="sr-only">(current)</span>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
