<div>
  <%= link_to book_cost_path(book_id: @book, id: cost.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "nav-link text-muted" do %>
    <i class="fa-solid fa-trash-can"></i>
    <span class="sr-only">(current)</span>
  <% end %>
</div>
