<h1>Travel Planner</h1>

<h3>旅に行く仲間としおりを共有して思い出に残しましょう</h3>

<h3>しおり作成</h3>
<p>しおりを作成し、一緒に旅に行く仲間と共有しましょう。</p>
<p>共有されたメンバーはしおりを編集することも可能です。</p>

<h3>チェックリスト作成</h3>
<p>持ち物や出発前に行うべきことなどをリストに書き込んで確認しましょう。</p>

<h3>支出管理</h3>
<p>旅先で支払ったお金を管理しましょう。</p>
<p>支払者、日付、支払方法別で合計金額を表示することができます。</p>

<h3>投稿機能</h3>
<p>作成したしおりを公開しましょう。</p>
<p>他のユーザーのしおりを参考にして観光地のおすすめスポットや現地の文化を情報を得ることができます。</p>
<p>いいねした投稿を一覧で見ることができます。</p>
