
<!doctype html>
<html lang="ja" >
  <head>
    <title>Product example for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.jp/docs/5.3/examples/product/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link href="product.css" rel="stylesheet">
  </head>
  <body>
    <div class="container py-4">
      <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <div class="container">
      <span class="skiplink-text">Skip to main content</span>
        </div>
      </a>
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal">たびのしおり</h1>
          <p class="lead font-weight-normal">旅に行く仲間としおりを共有して思い出に残しましょう</p>
          <%= link_to '作成する', new_book_path, class: 'btn btn-outline-secondary' %>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">しおりの作成</h2>
            <p class="lead">しおりを作成し、一緒に旅に行く仲間と共有しましょう。共有されたメンバーはしおりを編集することも可能です。</p>
          </div>
          <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">スケジュール</h2>
            <p class="lead">１日のスケジュールを計画しましょう。</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
      
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">チェックリスト機能</h2>
            <p class="lead">持ち物や出発前に行うべきことなどをリストに書き込んで確認しましょう。</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">支出管理</h2>
            <p class="lead">旅先で支払ったお金を管理しましょう。支払者、日付、支払方法別で合計金額を表示することができます。</p>
          </div>
          <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
      
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">メモ機能</h2>
            <p class="lead">旅行情報をメモで管理しましょう。</p>
          </div>
          <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">公開機能</h2>
            <p class="lead">作成したしおりを公開しましょう。<br>他のユーザーのしおりを参考にして観光地のおすすめスポットや現地の文化を情報を得ることができます。<br>いいねしたしおりを一覧で見ることができます</p>
          </div>
          <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
    </div>
      
    
  
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <script>
          Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
          });
        </script>
      
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>
          window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
        </script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script><script src="/docs/4.3/assets/js/vendor/anchor.min.js"></script>
        <script src="/docs/4.3/assets/js/vendor/clipboard.min.js"></script>
        <script src="/docs/4.3/assets/js/vendor/bs-custom-file-input.min.js"></script>
        <script src="/docs/4.3/assets/js/src/application.js"></script>
        <script src="/docs/4.3/assets/js/src/search.js"></script>
        <script src="/docs/4.3/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>
