<%= render 'layouts/plate' %>
 <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">みんなのしおり一覧</h1>
      <p class="lead my-3">いろんなユーザーのしおりを観覧していいねしてみましょう！</p>
      <% unless user_signed_in? %>
        <p class="lead mb-0"><a href="<%= new_user_session_path %>" class="text-white font-weight-bold">しおりを作成する</a></p>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Featured post</a>
          </h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Post title</a>
          </h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
  </div>
</div>

<%#= @books.each do |book| %>
  <%#= link_to book_path(book.id) do %>
    <%#= image_tag book.get_image.variant(resize: "100x100") %>
  <%# end %>
  <!--<p>ユーザーネーム : <%#= user.name %></p>
  <%#= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
  <p>タイトル：<%#= book.title %></p>
  <p>開始日：<%#= book.start_day %></p>
  <p>終了日：<%#= book.end_day %></p>
<%# end %>