@font-face {
  font-family: 'MyFont';
  src: url(asset-path('myfont.eot'));
  src: url(asset-path('myfont.eot?#iefix')) format('embedded-opentype'),
       url(asset-path('myfont.woff2')) format('woff2'),
       url(asset-path('myfont.woff')) format('woff'),
       url(asset-path('myfont.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}
