@font-face {
  font-family: 'HimeMinchoTomoeGozen';
  src: url(asset-path('姫明朝ともえごぜんmini.otf')) format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HimeMinchoTomoeGozen', sans-serif;
}
