/* ダークモード用のスタイル */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .bg-light {
  background-color: #444444 !important;
}

.dark-mode .bg-dark {
  background-color: #000000 !important;
}

.dark-mode .text-white {
  color: #ffffff !important;
}

.dark-mode .text-black {
  color: #ffffff !important;
}

.dark-mode .btn-outline-secondary {
  border-color: #ffffff;
  color: #ffffff;
}

/* 必要に応じて他のクラスの色を調整 */
