<%= render 'admin/users/admin' %>
<div class="container py-4">
  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
    <div class="col-md-6 mx-auto">
      <h1 class="display-4 font-italic text-center">全ユーザー一覧</h1>
      <p class="lead my-3 text-center"></p>
    </div>
  </div>

  <% if @users.present? %>
  <div class="row justify-content-center mt-4">
    <% @users.each do |user| %>
      <div class="col-md-6 mb-4">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <div class="position-relative d-inline-block">
              <%= link_to admin_user_path(user.id) do %>
                <%= image_tag user.get_profile_image(300,300), class:"bd-placeholder-img rounded-circle", width: 140, height: 140, preserve_aspect_ratio: "xMidYMid slice", role: "img", "aria-label": "Placeholder", focusable: false  %>
              <% end %>
            </div>
            <h3><%= user.name %></h3>


          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<footer class="text-body-secondary py-5 bg-light text-center">
  <div class="container">
    <p class="mb-1">
      <a href="#" class="text-dark">Back to top</a>
    </p>
  </div>
</footer>